/target/classes
.DS_Store
/src/.vscode
/.vscode
/target
**/target/
dependency-reduced-pom.xml
/.github/node_modules
# ─── Python ────────────────────────────────────────────────────────────────────
**/__pycache__/
*.pyc