openapi: "3.0.3"
info:
  title: "Complex API"
  description: "An API with allOf, oneOf, nested objects, arrays, and multiple auth"
  version: "2.0.0"
servers:
  - url: "https://api.complex.io/v2"
paths:
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags:
        - Users
      responses:
        "200":
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                    - type: object
                      properties:
                        email:
                          type: string
                        role:
                          type: string
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get a user by ID
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  address:
                    type: object
                    properties:
                      street:
                        type: string
                      city:
                        type: string
                      country:
                        type: string
                  tags:
                    type: array
                    items:
                      type: string
  /resources:
    get:
      operationId: getResource
      summary: Get a resource
      tags:
        - Resources
      responses:
        "200":
          description: A resource
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                      documentUrl:
                        type: string
                  - type: object
                    properties:
                      type:
                        type: string
                      imageData:
                        type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      name: X-API-Key
      in: header
security:
  - bearerAuth: []
